body {
    background: #e5e5e5;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-width: 90rem;
    padding: 2.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header {
    max-width: 7.5rem;
    width: 100%;
}

.header h1 {
    position: absolute;
    left: 5.21%;
    right: 90.74%;
    top: 5.42%;
    bottom: 91.16%;
 
}

.form {
    
}

.form textarea {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.form textarea:focus {
     outline: none;
}


/*button*/
/*Auto layout*/
.boton_encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;

    /*Dark Blue*/
    background: #0A3871;
    border-radius: 24px;
    /*Inside Auto Layout*/
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton_desencriptar {
    /*button*/
    box-sizing: border-box;
    /*Auto Layout*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /*Light gray*/
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    /*Inside Layout*/
    flex: none;
    order: 1;
    flex-grow: 0;
}