@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-width: 90rem;
    padding: 2.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header {
    max-width: 7.5rem;
    width: 100%;
}

.header h1 {
    position: absolute;
    left: 5.21%;
    right: 90.74%;
    top: 5.42%;
    bottom: 91.16%;
 
}

.form {
    max-width: 42.5rem;
    width: 100%;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.imagen_info {
    width: 16px;
    height: 16px;
    position: absolute;
}

.form textarea {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.form textarea:focus {
     outline: none;
}

.contenedor_botones {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1.5rem;
}

/*button*/
/*Auto layout*/
.boton_encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    cursor: pointer;
    /*Dark Blue*/
    background: #0A3871;
    border-radius: 24px;
    /*Inside Auto Layout*/
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton_desencriptar {
    /*button*/
    box-sizing: border-box;
    /*Auto Layout*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /*Light gray*/
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    /*Inside Layout*/
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    /*white*/
    background: #FFFFFF;
    /*shadow*/
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0. 0.08);
    border-radius: 32px;
}

.contenedor_toy {
    display: flex;
    flex-direction: column;
}

.imagen_toy {
    margin: 0 0 2rem 0;
}